{% extends "base.html" %}
{% block header %}
    <h2> {% block title %}
    Crear una publicación
    {% endblock %} </h2>
{% endblock %}

{% block content %}
        <form action="" method="post" enctype="multipart/form-data">
            <label for="title">Titulo</label>
            <input type="text" name="title" id="title" requerid>
            <label for="body">Contenido</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>


            <select name="tipo" id="tipo">
                {% for iter in clasesPub %}
                      <h5>{{iter.nombre}}</h5>
                      <option value="{{iter.id}}">{{iter.nombre}}</option>
                 {% endfor %}
                
              </select>
              <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
              </p>
            <input type="submit" value="Guardar">
        </form>
{% endblock %}