{% extends "base.html" %}
{% block header %}
    <h2> {% block title %}
    Crear Categoria de publicaciones
    {% endblock %} </h2>
{% endblock %}

{% block content %}
        <form action="" method="post">
            <label for="title">Nombre</label>
            <input type="text" name="name" id="name" requerid>
            <input type="submit" value="Guardar">
        </form>

        <h1>Clases de publicaciones</h1>
        {% for iter in clasesPub %}
        <h5>{{iter.nombre}}</h5>
        {% endfor %}
{% endblock %}