{% extends "base.html" %}
{% block header %}
    <h2> {% block title %}
    Publicaciones
    {% endblock %} </h2>
{% endblock %}

{% block content %}
        {% for post in posts %}
            <article>
                <header>
                    <h1>{{post.title}}</h1>
                    <div>
                        Publicado por {{get_user(post.author).username}}
                        el {{post.created.strftime('%Y-%m-%d')}}
                    </div>
                </header>
                <div>
                    <p>{{post.body}}</p>
                </div>
            </article>
        {% endfor %}
{% endblock %}
