::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(69,162,158,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(64, 209, 139, 0.734);
}

body{
    background-color: #e6e6e6;
}

.page .sidebar{
    height: 100vh;
    width: 250px;
    background: linear-gradient(90deg,#7ef31f, #1dc257);
    top: 0;
    /*left: 0;INITIAL_CONFIG*/
    left: -250px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1s ease;
}

.page .content{
    /*margin-left: 250px;INITIAL_CONFIG*/
    margin-left: 0px;
    transition: all 1s ease;
}

body.active .page .sidebar{
    /*left: -250px;INITIAL_CONFIG*/
    left: 0px;
}
body.active .page .content{
    /*margin-left: 0;INITIAL_CONFIG*/
    margin-left: 250px;
    /*width: 100%;INITIAL_CONFIG*/
    width: auto;
}

.sidebar-header{
    padding: 10px 25px 10px 15px;
}
.sidebar-logo-container{
    background-color: rgb(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    padding-left: 3px;
}

.logo-container{
    max-width: 40px;
    background-color: rgb(255,255,255,0.1);
    border-radius: 8px;
    margin: 8px;
    padding: 6px 8px;
}

.logo-sidebar{
    width: 100%;
    height: auto;
}

.brand-name-container{
    padding: 0px;
    margin: 10px 10px 0px 2px;
}

.brand-name{
    color: white;
    margin: 0px;
    line-height: 1.1rem;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.brand-subname{
    font-weight: 300;
    font-size: 14px;
}

.navigation-list{
    list-style-type: none;
    padding: 0px 18px;
    margin-top: 30px;
}

.navigation-list-item{
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    margin: 15px 0px;
}

.navigation-list-item:hover{
    background: rgb(0,0,0,0.05);
    box-shadow: 0 0 0.4em rgb(255,255,255,0.1);
    cursor: pointer;
}

.navigation-list-item.active{
    background: rgb(0,0,0,0.1);
    box-shadow: 0 0 0.4em rgb(255,255,255,0.1);
}

.navigation-link{
    color: rgb(31,40,51,0.8);
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.navigation-list-item:hover .navigation-link {
    color: rgb(255,255,255,0.7);
}

.navigation-list-item.active .navigation-link {
    color: rgb(255,255,255,0.7);
    font-weight: 500;
}

.navigation-link i {
    font-size: 20px;
}

.teams-list {
    padding-left: 30px;
    list-style-type: none;
}

.teams-list-item {
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(31,40,51,0.8);
    margin-bottom: 30px;
}

.teams-list-item i{
    font-size: 10px;
}

.teams-title-container{
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.teams-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(31,40,51,0.8);
    letter-spacing: 0.5px;
}

.navigation-bar{
    background-color: rgb(245, 5, 5);
    height: 50px;
    padding: 38px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #c5c6c7;
}

.sidebarToggle{
    font-size: 16px;
    background-color: #c5c6c7;
    color: rgb(0,0,0,0.8);
    /*margin-left: -19px;INITIAL_CONFIG*/
    margin-left: 2px;
    z-index: 999;
    border-radius: 50px;
    outline: none !important;
    box-shadow: none !important;
    transition: all 1s ease;
}

.sidebarToggle:hover{
    color: white;
}

.sidebarToggle.active{
    margin-left: 10px;;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }







/**
 * horizontal Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap;
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #26c60d;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/
body {
  background: #eee;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 112%;
}



/*vertical tabs*/

 
.container2{
  padding: 30px 40px;
}
 
/* Style the tab */
.tabVertical {
  float: left;
  width: 20%;
  height: 300px;
  margin-top: -12px;
}
 
/* Style the buttons inside the tab */
.tabVertical button {
  display: block;
  color: black;
  padding: 18px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.5s ease-in;
  font-size: 17px;
  margin: 15px;
}
 
/* Change background color of buttons on hover */
.tabVertical button:hover {
  background-color: rgb(91, 161, 227);
 
}
 
/* Create an active/current "tab button" class */
.tabVertical button.active {
  background-color: rgb(88, 88, 88);
  color: white;
}
 
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /*border: 1px solid rgb(88, 88, 88);*/
  width: 70%;
  height: auto;
  margin-left: 40px;
  animation: blinker 0.6s linear;
  display: none;
  background: #ceeab7;
}
 
/* animation effects */
@keyframes blinker {  
    10% { opacity: 0; } 
    100% { opacity: 1; }
}
 
.tabVertical .arrow {
  color: rgb(15, 244, 7);
  float: right;
  font-size: 26px;
  position: relative;
  left: 25px;
}
 
@media (max-width: 800px) {
  .tabVertical {
    width: 30% !important;
  }
  .tabcontent{
    width: 61%;
  }
}
 
@media (max-width: 600px) {
  .tabVertical, .tabcontent {
    width: 100% !important;
    margin: 0 auto;
  }
  .tabVertical button{
    width: 100%;
    margin: 10px 0px;
    padding: 18px 10px;
  }
  .tabVertical .arrow {
    display: none !important;
  }
}
.text
{
   
  font-weight: 900;
  text-align: center;
}
h1 {
  color: rgb(107, 0, 0);
  font-size: 50px !important;
}