<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{url_for("static",filename='img/logo.ico')}}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for("static",filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title%}{% endblock %}</title>
</head>


{% if  render == 'view/profile' %}
<body class="{{ classes.page_div }}">
{% else %}
<body>
{% endif %}

    <!--
      <header class="header">
        <div class="nav">
            <div>
                <a href="{{url_for("index.index")}}">
                    <h1>Huella Carbono</h1>
                </a>
            </div>
            <nav>
                <a href="{{url_for("blog.index")}}">Publicaciones</a>
                {% if g.user.username == 'admin' %}
                    <a href="{{url_for("blog.createClasePublicacion")}}">Crear Clase Publicaciones</a>
                {% endif %}
                {% if g.user %}
                    <img src="{{url_for("static",filename='img/user.png')}}" alt="">
                    <span>{{g.user.username}}</span>
                    <a href="{{url_for("auth.logout")}}">Cerrar Sesión</a>
                {% else %}
                    <a href="{{url_for("auth.register")}}">Registrar Usuario</a>
                    <a href="{{url_for("auth.login")}}">Iniciar Sesión</a>
                {% endif %}
                
            </nav>
        </div>
    </header>
    -->

    <!--
    <section>
        <div class="content">
            <header>{#%block header%#}{#%endblock%#}</header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash">
                        {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
             {% endwith %}
        

        {#%block content%#}{#%endblock%#}
        </div>
    </section>
    -->

    
    <div class="page">
        {% if g.user %}
        <div class="sidebar">
            <!--SIDEBAR HEADER-->
            <div class="sidebar-header">
                <div class="sidebar-logo-container">
                    <div class="logo-container">
                        <img class="logo-sidebar" src="{{url_for("static",filename='img/user.png')}}" alt="logo">
                    </div>
                    <div class="brand-name-container">
                        <p class="brand-name">
                            {{g.user.username}} </br>
                            <span class="brand-subname">{{getRole_by_id(g.user.rol).name}}</span>
                        </p>
                    </div>
                   
                </div>
            </div>

            <!--SIDEBAR BODY-->
            <div class="sidebar-body">
                <ul class="navigation-list">
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="{{url_for("profile.perfil",id=g.user.id)}}">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-address-card"></i>
                                </div>
                                <div class="col-10 sidebarInformation">
                                    Información
                                </div>
                            </div>            
                        </a>
                    </li>
                    <li class="navigation-list-item active">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-trophy"></i>
                                </div>
                                <div class="col-10">
                                    Logros
                                </div>
                            </div>       
                        </a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-brands fa-usps"></i>
                                </div>
                                <div class="col-10">
                                    Publicaciones
                                </div>
                            </div>                           
                        </a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-hands-holding-circle"></i>
                                </div>
                                <div class="col-10">
                                    Aportes
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                                <div class="col-10">
                                    Mensajes
                                </div>
                            </div>
                        </a>
                    </li>

                    
                </ul>

                {% if g.user.username == 'admin' %}
                <hr style="margin-top: 30px; color: white;">
                <div class="teams-title-container">
                    <p class="teams-title">TAREAS</p>
                </div>
                <ul class="navigation-list">
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="{{url_for("blog.createClasePublicacion")}}">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-marker"></i>
                                </div>
                                <div class="col-10">
                                    Crear Clase de Publicaciones
                                </div>
                            </div>            
                        </a>
                    </li>

                    <li class="navigation-list-item">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-marker"></i>
                                </div>
                                <div class="col-10">
                                    Crear Clase
                                </div>
                            </div>            
                        </a>
                    </li>

                    <li class="navigation-list-item">
                        <a class="navigation-link" href="/">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-marker"></i>
                                </div>
                                <div class="col-10">
                                    Crear Roles
                                </div>
                            </div>            
                        </a>
                    </li>
                </ul>
                {% endif %}

                <hr style="margin-top: 30px; color: white;">
                
                <div class="teams-title-container">
                    <p class="teams-title">TEAMS</p>
                </div>
                <ul class="teams-list">
                    <li class="teams-list-item">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-circle" style="color: rgb(0, 98, 255);"></i>
                            </div>
                            <div class="col-10">
                                Marketing
                            </div>
                        </div>
                    </li>

                    <li class="teams-list-item">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-circle" style="color: rgb(228, 3, 175);"></i>
                            </div>
                            <div class="col-10">
                                Developement
                            </div>
                        </div>
                    </li>

                    <li class="teams-list-item">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-circle" style="color: rgb(252, 218, 26);"></i>
                            </div>
                            <div class="col-10">
                                another team
                            </div>
                        </div>
                    </li>

                </ul>

                <hr style="margin-top: 30px; color: white;">

                <ul class="navigation-list">
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="{{url_for("auth.logout")}}">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </div>
                                <div class="col-10">
                                    Cerrar Sesión
                                </div>
                            </div>            
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        {% endif %}

        <div class="content">
            <!--<div class="navigation-bar">-->
            <nav class="navbar navbar-expand-lg navbar-light p-2  " style="background: linear-gradient(180deg,#7ef31f, #1dc257);" >
                {% if g.user %}
                    <button id="sidebarToggle" class="btn sidebarToggle">
                        <i class="fas fa-bars"></i>
                    </button>
                {% endif %}
                
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for("index.index")}}">WorldCare</a>
                    
                    <!--
                        <a href="{{url_for("index.index")}}">
                            <h1>Huella Carbono</h1>
                        </a>
                    -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                 

                    <!--
                        <a href="{{url_for("blog.index")}}">Publicaciones</a>
                        {% if g.user.username == 'admin' %}
                            <a href="{{url_for("blog.createClasePublicacion")}}">Crear Clase Publicaciones</a>
                        {% endif %}
                        {% if g.user %}
                            <img src="{{url_for("static",filename='img/user.png')}}" alt="">
                            <span>{{g.user.username}}</span>
                            <a href="{{url_for("auth.logout")}}">Cerrar Sesión</a>
                        {% else %}
                            <a href="{{url_for("auth.register")}}">Registrar Usuario</a>
                            <a href="{{url_for("auth.login")}}">Iniciar Sesión</a>
                        {% endif %}
                    -->
                    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class="nav-link mx-2 " href="/">Informate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="/">Aportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2 active" aria-current="page" href="{{url_for("blog.index")}}">Publicaciones</a>
                            </li>
                            
                            <!-- EXAMPLE NAV-ITEM
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#">Home3</a>
                            </li>
                            -->
                            {% if g.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{g.user.username}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{{url_for("auth.logout")}}">CerraSesión</a></li>
                                    
                                </ul>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="{{url_for("auth.logout")}}">Cerrar Sesión</a>
                            </li>
                            -->
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="{{url_for("auth.register")}}">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="{{url_for("auth.login")}}">Iniciar Sesion</a>
                            </li>
                            {% endif %}
                            <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Company
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Blog</a></li>
                                    <li><a class="dropdown-item" href="#">About Us</a></li>
                                    <li><a class="dropdown-item" href="#">Contact us</a></li>
                                </ul>
                             </li>
                             -->
                        </ul>
                    </div>
                </div>
            </nav>
             
            
            <header>{%block header%}{%endblock%}</header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash">
                        {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
             {% endwith %}
        

            {%block content%}{%endblock%}
            {% block inicio %}{% endblock %}  
        </div>
    </div>
    
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{url_for("static",filename='js/sidebar.js')}}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>