{% extends "base.html" %}


{% block content %}
<div class="tabs">

    <!--BEGIN ALIMENTACION-->
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Alimentacion</label>
    <div class="tab">
      <p>LLena y comparte con nosotros que aportes realizaste, y conoce cuanto has ayudado al planeta!!</p>
      <div class="tabVertical">

         
        <button class="tablinks" onclick="openTab(event, 'carne', 'arrow1')">
          <i class="fab fa-wordpress"></i>
          Carne <span id="arrow1" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'productos-organicos', 'arrow2')">
          <i class="fas fa-video"></i>
          Productos Orgánicos
          <span id="arrow2" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'productos-granel', 'arrow3')">
          <i class="far fa-image"></i>
          Productos a granel <span id="arrow3" class=" arrow fas fa-caret-right"></span>
        </button>
 
      </div>
       
      <div id="carne" class="tabcontent" style="display: block;">
        <div class="alimentacion_carnes">
          <form action="" method="post">
            <input type="checkbox" name="cb-consume_Carnes" value="gusta"> No consumo Carne<br>
            <input type="checkbox" name="cb-sc_consume1v" value="gusta"> Consumo carne 1 vez a la semana<br>
            <input type="checkbox" name="cb-sc_consume_2v" value="gusta"> Consumo carne 2 veces a la semana
            <p style="color:green ;">Perfecto! sabias que la La industria cárnica es uno de los sectores que más 
              contribuye al cambio climático. Según la Organización de las Naciones Unidas
              para la Alimentación y la Agricultura (FAO), el sector cárnico emite más gases
              de efecto invernadero que todo el transporte mundial junto
              (14,5% del total de emisiones).
            </p>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
       
      <div id="productos-organicos" class="tabcontent">
        <div class="aimentacion_productos-organicos">
          <form action="" method="post">
            <input type="checkbox" name="cb-consumeAlimOrg" value="gusta"> Consumo alimentos orgánicos<br>
            <input type="checkbox" name="cb-procuraConsumir" value="gusta"> Procuro consumir alimentos orgánicos casi siempre<br>
            <input type="checkbox" name="cb-sc_consumeRaravez" value="gusta"> Consumo alimentos orgánicos de vez en cuando <br>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
       
      <div id="productos-granel" class="tabcontent">
        <div class="alimentacion_productos-granel">
          <form action="" method="post">
            <input type="checkbox" name="cb-consumeProdGranel" value="gusta"> Consumo alimentos a granel<br>
            <input type="checkbox" name="cb-procuraConsumirGranel" value="gusta"> Procuro consumir alimentos a granel casi siempre<br>
            <input type="checkbox" name="cb-sc_consumeRaravezGranel" value="gusta"> Consumo alimentos a granel de vez en cuando <br>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
    </div>
    <!--END ALIMENTACION-->




    <!--BEGIN HIGIENE-->
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Higiene</label>
    <div class="tab">
      <p>Nothing to show</p>
    </div>
    <!--END HIGIENE-->


    
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Transporte</label>
    <div class="tab">
      <h1>Tab Transporte Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <input type="radio" name="tabs" id="tabfor">
    <label for="tabfor">Residuos</label>
    <div class="tab">
      <h1>Tab Energia Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="tabVertical">

         
        <button class="tablinks" onclick="openTab(event, 'energia_a', 'arrow7')">
          <i class="fab fa-wordpress"></i>
          energia_a <span id="arrow7" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'energia_b', 'arrow8')">
          <i class="fas fa-video"></i>
          energia_B 
          <span id="arrow8" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'energia_c', 'arrow9')">
          <i class="far fa-image"></i>
          energia_c <span id="arrow9" class=" arrow fas fa-caret-right"></span>
        </button>
 
      </div>
       
      <div id="energia_a" class="tabcontent" style="display: block;">
        <h3>energia_a</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?</p>
      </div>
       
      <div id="energia_b" class="tabcontent">
        <h3>energia_b</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
      </div>
       
      <div id="energia_c" class="tabcontent">
        <h3>energia_c</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
      
    </div>

    <input type="radio" name="tabs" id="tabfive">
    <label for="tabfive">Energia</label>
    <div class="tab">
      <h1>Tab Trabsporte Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     

      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'coding', 'arrow11')" id="defaultOpen">
          <i class="fas fa-laptop-code"></i>
           Coding 
           <span id="arrow11" class="arrow fas fa-caret-right"></span>
          </button>
         
        <button class="tablinks" onclick="openTab(event, 'wordPress', 'arrow12')">
          <i class="fab fa-wordpress"></i>
          WordPress <span id="arrow12" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'videos', 'arrow13')">
          <i class="fas fa-video"></i>
          Videos 
          <span id="arrow13" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'photoshop', 'arrow14')">
          <i class="far fa-image"></i>
          Photoshop <span id="arrow14" class=" arrow fas fa-caret-right"></span>
        </button>
  
        <button class="tablinks" onclick="openTab(event, 'caratulas', 'arrow15')">
          <i class="far fa-image"></i>
          Caratulas <span id="arrow15" class=" arrow fas fa-caret-right"></span>
        </button>

        <button class="tablinks" onclick="openTab(event, 'portafolios', 'arrow16')">
            <i class="far fa-image"></i>
            portafolios <span id="arrow16" class=" arrow fas fa-caret-right"></span>
          </button>
      </div>
       
      <div id="coding" class="tabcontent" style="display: block;">
        <h3>Coding</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?
         
        </p>
      </div>
       
      <div id="wordPress" class="tabcontent">
        <h3>WordPress</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
      </div>
       
      <div id="videos" class="tabcontent">
        <h3>Videos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
      <div id="photoshop" class="tabcontent">
        <h3>Photoshop</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
  
      <div id="caratulas" class="tabcontent">
          <h3>Caratulas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>

      <div id="portafolios" class="tabcontent">
        <h3>portafolios</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>



    </div>


  </div>


{% endblock %}