{% extends "base.html" %}


{% block content %}
<div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Alimentacion</label>
    <div class="tab">

    </div>
    
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Higienes</label>
    <div class="tab">
      <h1>Tab Higienes Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Transporte</label>
    <div class="tab">
      <h1>Tab Transporte Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <input type="radio" name="tabs" id="tabfor">
    <label for="tabfor">Eneriga</label>
    <div class="tab">
      <h1>Tab Energia Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="tabVertical">

         
        <button class="tablinks" onclick="openTab(event, 'energia_a', 'arrow7')">
          <i class="fab fa-wordpress"></i>
          energia_a <span id="arrow7" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'energia_b', 'arrow8')">
          <i class="fas fa-video"></i>
          energia_B 
          <span id="arrow8" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'energia_c', 'arrow9')">
          <i class="far fa-image"></i>
          energia_c <span id="arrow9" class=" arrow fas fa-caret-right"></span>
        </button>
 
      </div>
       
      <div id="energia_a" class="tabcontent" style="display: block;">
        <h3>energia_a</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?</p>
      </div>
       
      <div id="energia_b" class="tabcontent">
        <h3>energia_b</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
      </div>
       
      <div id="energia_c" class="tabcontent">
        <h3>energia_c</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
      






    </div>

    <input type="radio" name="tabs" id="tabfive">
    <label for="tabfive">Transporte</label>
    <div class="tab">
      <h1>Tab Trabsporte Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     

      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'coding', 'arrow1')" id="defaultOpen">
          <i class="fas fa-laptop-code"></i>
           Coding 
           <span id="arrow1" class="arrow fas fa-caret-right"></span>
          </button>
         
        <button class="tablinks" onclick="openTab(event, 'wordPress', 'arrow2')">
          <i class="fab fa-wordpress"></i>
          WordPress <span id="arrow2" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'videos', 'arrow3')">
          <i class="fas fa-video"></i>
          Videos 
          <span id="arrow3" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'photoshop', 'arrow4')">
          <i class="far fa-image"></i>
          Photoshop <span id="arrow4" class=" arrow fas fa-caret-right"></span>
        </button>
  
        <button class="tablinks" onclick="openTab(event, 'caratulas', 'arrow5')">
          <i class="far fa-image"></i>
          Caratulas <span id="arrow5" class=" arrow fas fa-caret-right"></span>
        </button>

        <button class="tablinks" onclick="openTab(event, 'portafolios', 'arrow6')">
            <i class="far fa-image"></i>
            portafolios <span id="arrow6" class=" arrow fas fa-caret-right"></span>
          </button>
      </div>
       
      <div id="coding" class="tabcontent" style="display: block;">
        <h3>Coding</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?
         
        </p>
      </div>
       
      <div id="wordPress" class="tabcontent">
        <h3>WordPress</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
      </div>
       
      <div id="videos" class="tabcontent">
        <h3>Videos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
      <div id="photoshop" class="tabcontent">
        <h3>Photoshop</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
  
      <div id="caratulas" class="tabcontent">
          <h3>Caratulas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>

      <div id="portafolios" class="tabcontent">
        <h3>portafolios</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>



    </div>


  </div>


{% endblock %}