{% extends "base.html" %}


{% block content %}
<div class="categories-container">
    <h2>Categorìas</h2>
    <div class="categories-body">
        <div class="category-btn-container">
            <article class="category-btn" style="background-color: #5E9FDA;">1</article>
            <h5>Alimentaciòn</h5>
        </div>
        <div class="category-btn-container">
            <article class="category-btn" style="background-color: #5E9D8D;">2</article>
            <h5>Higiene</h5>
        </div>
        <div class="category-btn-container">
            <article class="category-btn" style="background-color: #76C3AF;">3</article>
            <h5>Transporte</h5>
        </div>
        <div class="category-btn-container">
            <article class="category-btn" style="background-color: #ABDC53;">4</article>
            <h5>Residuos</h5>
        </div>
        <div class="category-btn-container">
            <article class="category-btn" style="background-color: #F2CC45;">5</article>
            <h5>Energìa</h5>
        </div>

    </div>
</div>

    
    <div class="tabs">
        <div class="tab-header">
            <div class="active">Aceite</div>
            <div>Desechos orgànicos</div>
            <div>Plàstico</div>
            <div>Papel y Cartòn</div>
            <div>Pilas y baterìas</div>
            <div>Ropa</div>
        </div>
        <div class="tab-body">
            
            <div class="active">
                <p>Almacené 
                    <select name="select">
                        <option value="1" selected>1</option>
                        <option value="2" >2</option>
                        <option value="3">3</option>
                    </select>
                    litro de aceite y lo llevé a un centro de acopio autorizado para su correcto tratamineto</p>
                <span>Gracias a tu aporte se pudo evitar contaminar 40000 litros de agua!!</span>
                <article>
                    <img src='../../static/img/aceite.png' >
                </article>
            </div>
            <div>
                <p>LLevo días almacenando los residuos orgánicos generados en mi casa en un recipiente donde hago composta.</p>
                <span>Gracias a tu aporte se evita la generación de gases de efecto invernadero tambíen reduces el volumen y peligrosidad de este desecho ya que se hacen más manejables y menos contaminantes. Y lo puedes usar para nutrir las plantitas de tú casa o de cualquier lugar!!</span>
                <article>
                    <img src='../../static/img/desechos.png' >
                </article>
            </div>
            
            <div>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Evito usar plástico de un solo uso.
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Cualquier envase reciclable lo separo y lo llevo a una planta de selección para que sea tratado
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Ante cualquier pequeño residuo de plástico lo pongo en una botella para hacer ecoladrillos
                </label>

                <span>Gracias a tu aporte y a la buena gestión de tus residuos plásticos, evitas  contribuir con esta amenaza creciente, que provoca el desbordamiento de los vertederos, obstruye el flujo de los ríos y pone en peligro los ecosistemas marinos. </span>
                <article>
                    <img src='../../static/img/plastico.png' >
                </article>

            </div>
            
            <div>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox">Depositar en el contenedor azul los residuos de papel
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Reducir tu consumo de papel.
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Utilizar al máximo el papel que tienes
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Comprar papel reciclado
                </label>
                <span>Gracias por tu aporte!! Sabías que una tonelada de papel reciclado equivale a ahorrar 30.000 litros de agua, 150 litros de combustibles fósiles y unos 1.500 litros de aceite en su fabricación.</span>
                <article>
                    <img src='../../static/img/papel.png' >
                </article>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox">Uso pilas recargables, solo una de estas puede sustituir hasta 300
                    desechables
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Disminuyo el uso de pilas
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Desecho las pilas q usé en sitios especificados para su recolección y correcto tratamiento
                </label>
                <span>Gracias a tu aporte evitaste contaminar 600 mil litros de agua. Además, al no exponer este desecho a cualquier tratoque pueda provocar vapores que se dispersan por el aire y cuando llueve, los metales son arrastrados hacia el suelo y a los cuerpos de agua. Todo ello las muestra como uno de los residuos más peligrosos</span>
                <article>
                    <img src='../../static/img/pilas.png' >
                </article>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox">Compra ropa de segunda mano
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Dona tu ropa
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Deposita tu ropa en el contenedor de reciclaje textil.
                </label>
                <label>
                    <input type="checkbox" id="cbox1" value="first_checkbox"> Compra ropa de calidad para extender su vida útil
                </label>
                <span>Gracias a tu aporte!! Sabias que la contaminación que genera la producción de ropa es de aproximadamente 500 mil toneladas de microplásticos al año que llegan a los océanos.</span>
                <article>
                    <img src='../../static/img/ropa.png' >
                </article>
            </div>
        </div>
    </div>
    
    {% endblock %}