{% extends "base.html" %}


{% block content %}
<div class="tabs">

    <!--BEGIN ALIMENTACION-->
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Alimentacion</label>
    <div class="tab">
      <p>LLena y comparte con nosotros que aportes realizaste, y conoce cuanto has ayudado al planeta!!</p>
      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'carne', 'arrow1')">
          <i class="far fa-image"></i>
          Carne <span id="arrow1" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'productos-organicos', 'arrow2')">
          <i class="far fa-image"></i>
          Productos Orgánicos
          <span id="arrow2" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'productos-granel', 'arrow3')">
          <i class="far fa-image"></i>
          Productos a granel <span id="arrow3" class=" arrow fas fa-caret-right"></span>
        </button>
 
      </div>
       
      <div id="carne" class="tabcontent" style="display: block;">
        <div class="alimentacion_carnes">
          <form action="" method="post">
            <input type="checkbox" name="cb-consume_Carnes" value="gusta"> No consumo Carne<br>
            <input type="checkbox" name="cb-sc_consume1v" value="gusta"> Consumo carne 1 vez a la semana<br>
            <input type="checkbox" name="cb-sc_consume_2v" value="gusta"> Consumo carne 2 veces a la semana
            <p style="color:green ;">Perfecto! sabias que la La industria cárnica es uno de los sectores que más 
              contribuye al cambio climático. Según la Organización de las Naciones Unidas
              para la Alimentación y la Agricultura (FAO), el sector cárnico emite más gases
              de efecto invernadero que todo el transporte mundial junto
              (14,5% del total de emisiones).
            </p>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
       
      <div id="productos-organicos" class="tabcontent">
        <div class="aimentacion_productos-organicos">
          <form action="" method="post">
            <input type="checkbox" name="cb-consumeAlimOrg" value="gusta"> Consumo alimentos orgánicos<br>
            <input type="checkbox" name="cb-procuraConsumir" value="gusta"> Procuro consumir alimentos orgánicos casi siempre<br>
            <input type="checkbox" name="cb-sc_consumeRaravez" value="gusta"> Consumo alimentos orgánicos de vez en cuando <br>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
       
      <div id="productos-granel" class="tabcontent">
        <div class="alimentacion_productos-granel">
          <form action="" method="post">
            <input type="checkbox" name="cb-consumeProdGranel" value="gusta"> Consumo alimentos a granel<br>
            <input type="checkbox" name="cb-procuraConsumirGranel" value="gusta"> Procuro consumir alimentos a granel casi siempre<br>
            <input type="checkbox" name="cb-sc_consumeRaravezGranel" value="gusta"> Consumo alimentos a granel de vez en cuando <br>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
    </div>
    <!--END ALIMENTACION-->




    <!--BEGIN HIGIENE-->
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Higiene</label>
    <div class="tab">
      <p>Nothing to show</p>
    </div>
    <!--END HIGIENE-->



    <!--BEGIN TRANSPORTE-->
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Transporte</label>
    <div class="tab">
      <p>LLena y comparte con nosotros que aportes realizaste, y conoce cuanto has ayudado al planeta!!</p>
      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'automovil', 'arrow4')">
          <i class="far fa-image"></i>
          Automovil <span id="arrow4" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'bicicleta', 'arrow5')">
          <i class="far fa-image"></i>
          Bicicleta
          <span id="arrow5" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'avion', 'arrow6')">
          <i class="far fa-image"></i>
          Avion <span id="arrow6" class=" arrow fas fa-caret-right"></span>
        </button>
        
        <button class="tablinks" onclick="openTab(event, 'transporte_otros', 'arrow7')">
          <i class="far fa-image"></i>
          Otros <span id="arrow7" class=" arrow fas fa-caret-right"></span>
        </button>
      </div>

      <div id="automovil" class="tabcontent" style="display: block;">
        <div class="transporte_automovil">
          <form action="" method="post">
            <input type="checkbox" name="cb-automovil_1" value="gusta"> Evito desplazarme en automovil por cortas distancias.<br>
            <input type="checkbox" name="cb-automovil_2" value="gusta"> Mi automovil tiene una antigüedad de menos de 10 años<br>
            <input type="checkbox" name="cb-automovil_3" value="gusta"> Mi automovil es eléctrico o híbrido.
            <p style="color:green ;">Gracias a tu aporte evitaste producir 143 gramos de CO2 por cada kilometro recorrido.
              Sabias que los vehiculos electricos no generan emisiones contaminantes, 
              por lo que contribuyen con la reducción de gases del efecto invernadero.
            </p>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>

      <div id="bicicleta" class="tabcontent">
        <div class="transporte_bicicleta">
          <form action="" method="post">
            En este mes me dezplace  <input type="number" id="transporte_bicicleta_horasBicicleta"
                                       name="transporte_bicicleta_horasBicicleta"
                                        min="10" max="100"> horas en bicicleta.
            <p style="color:green ;">Gracias por tu aporte !! Sabias que esté medio de transporte es más sotenible 
              debido a que no consumen combustibles, no emiten gases de efecti invernadero. Además Producen niveles
               de ruido muy inferiores a los de los autos.
            </p>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>

      <div id="avion" class="tabcontent">
        <div class="transporte_avion">
          <form action="" method="post">
            En este mes realize  <input type="number" id="transporte_avion_vuelos_menos"
                                       name="transporte_avion_vuelos_menos"
                                        min="10" max="100"> vuelos menos que el mes pasado.

            <p style="color:green ;">Gracias por tu aporte !! Sabia que un pasajero de un vuelo 
              emite 258 gramos de CO2 por kilometro reocorrido. 
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>

      <div id="transporte_otros" class="tabcontent">
        <div class="transporte_transporte_otros">
          <form action="" method="post">
            <input type="checkbox" name="cb-otros_1" value="gusta"> Me desplazo continuamente a pie.<br>
            <input type="checkbox" name="cb-otros2" value="gusta"> Utilizo medios de transporte como patines/monopatines.<br>
            <input type="checkbox" name="cb-otros_3" value="gusta"> Planifico actividades como, “martes sin auto” 
            <p style="color:green ;">Gracias por tu aporte !! El mejor medio de transporte que no genera ningun tipo 
              de contaminación es utilizar tus piernas. <br>
            <input type="submit" value="Guardar">
          </form>
        </div>
      </div>
      
    </div>
    <!--END TRANSPORTE-->

    <!--BEGIN RESIDUOS-->
    <input type="radio" name="tabs" id="tabfor">
    <label for="tabfor">Residuos</label>
    <div class="tab">
      <p>LLena y comparte con nosotros que aportes realizaste, y conoce cuanto has ayudado al planeta!!</p>
      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'aceite', 'arrow8')">
          <i class="far fa-image"></i>
          Aceite <span id="arrow8" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'DesechosOrganicos', 'arrow9')">
          <i class="far fa-image"></i>
          Desechos Orgánicos
          <span id="arrow9" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'plastico', 'arrow10')">
          <i class="far fa-image"></i>
          Plasticos <span id="arrow10" class=" arrow fas fa-caret-right"></span>
        </button>
        
        <button class="tablinks" onclick="openTab(event, 'PapelYCarton', 'arrow11')">
          <i class="far fa-image"></i>
          Papel y Cartón <span id="arrow11" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'pilasYBateria', 'arrow12')">
          <i class="far fa-image"></i>
          Pilas y Bateria 
          <span id="arrow12" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'Ropa', 'arrow13')">
          <i class="far fa-image"></i>
          Ropa <span id="arrow13" class=" arrow fas fa-caret-right"></span>
        </button>

      </div>
       
      <div id="aceite" class="tabcontent" style="display: block;">
        <form action="" method="post">
          Almacene  <input type="number" id="residuos_Aceite"
                                       name="residuos_Aceite"
                                        min="1" max="50"> litro de aceite y lo llevé a un 
                                        centro de acopio autorizado para su correcto tratamiento
          <p style="color:green ;">Gracias a tu aporte se pudo evitar contaminar 40000 litros de agua!!</p>
          <input type="submit" value="Guardar">
        </form>
      </div>

      <div id="DesechosOrganicos" class="tabcontent">
        <form action="" method="post">
          Llevo  <input type="number" id="residuos__DesechosOrganicos"
                                       name="residuos__DesechosOrganicos"
                                        min="1" max="30"> días almacenando los residuos orgánicos
                                         generados en mi casa en un recipiente donde hago composta.
      
          <p style="color:green ;">Gracias a tu aporte se evita la generación de gases de efecto invernadero
             tambíen reduces el volumen y peligrosidad de este desecho ya que se hacen más manejables y menos 
             contaminantes. Y lo puedes usar para nutrir las plantitas de tú casa o de cualquier lugar!!</p>
          <input type="submit" value="Guardar">
        </form>
      </div>
      
      <div id="plastico" class="tabcontent">
        <form action="" method="post">
          <input type="checkbox" name="cb-residuos_plastico1" value="gusta"> Evito usar plástico de un solo uso.<br>
          <input type="checkbox" name="cb-residuos_plastico2" value="gusta"> Cualquier envase reciclable lo separo y lo llevo
                                                               a una planta de selección para que sea tratado <br>
          <input type="checkbox" name="cb-residuos_plastico3" value="gusta"> Ante cualquier pequeño residuo de plástico lo pongo 
                                                        en una botella para hacer ecoladrillos.
      
          <p style="color:green ;">Gracias a tu aporte y a la buena gestión de tus residuos plásticos, evitas  contribuir 
            con esta amenaza creciente, que provoca el desbordamiento de los vertederos, obstruye el flujo de los ríos y
             pone en peligro los ecosistemas marinos. </p>
          <input type="submit" value="Guardar">
        </form>
      </div>

      <div id="PapelYCarton" class="tabcontent">
        <form action="" method="post">
          <input type="checkbox" name="cb-residuos_papelCarton1" value="gusta"> Depositar en el contenedor azul los residuos de papel.<br>
          <input type="checkbox" name="cb-residuos_papelCarton2" value="gusta">Reducir tu consumo de papel.<br>
          <input type="checkbox" name="cb-residuos_papelCarton3" value="gusta">Utilizar al máximo el papel que tienes. <br>
          <input type="checkbox" name="cb-residuos_papelCarton4" value="gusta">Comprar papel reciclado.
          <p style="color:green ;">Gracias por tu aporte!! Sabías que una tonelada de papel reciclado equivale a ahorrar
             30.000 litros de agua, 150 litros de combustibles fósiles y unos 1.500 litros de aceite en su fabricación. </p>
          <input type="submit" value="Guardar">
        </form>
      </div>

      <div id="pilasYBateria" class="tabcontent">
        <form action="" method="post">
          <input type="checkbox" name="cb-residuos_pilasBaterias1" value="gusta"> Uso pilas recargables, solo una de estas puede sustituir hasta 300
          desechables.<br>
          <input type="checkbox" name="cb-residuos_pilasBaterias2" value="gusta">Disminuyo el uso de pilas<br>
          <input type="checkbox" name="cb-residuos_pilasBaterias3" value="gusta">Desecho las pilas q usé en sitios especificados para su recolección y correcto tratamiento. <br>
          <p style="color:green ;">Gracias a tu aporte evitaste contaminar 600 mil litros de agua. Además,
             al no exponer este desecho a cualquier tratoque pueda provocar vapores que se dispersan por el aire y 
             cuando llueve, los metales son arrastrados hacia el suelo y a los cuerpos de agua. Todo ello las 
             muestra como uno de los residuos más peligrosos.</p>
          <input type="submit" value="Guardar">
        </form>
      </div>

    </div>
    <!--END RESIDUOS-->

    <input type="radio" name="tabs" id="tabfive">
    <label for="tabfive">Energia</label>
    <div class="tab">
      <h1>Tab Trabsporte Content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     

      <div class="tabVertical">
        <button class="tablinks" onclick="openTab(event, 'coding', 'arrow11')" id="defaultOpen">
          <i class="fas fa-laptop-code"></i>
           Coding 
           <span id="arrow11" class="arrow fas fa-caret-right"></span>
          </button>
         
        <button class="tablinks" onclick="openTab(event, 'wordPress', 'arrow12')">
          <i class="fab fa-wordpress"></i>
          WordPress <span id="arrow12" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'videos', 'arrow13')">
          <i class="fas fa-video"></i>
          Videos 
          <span id="arrow13" class=" arrow fas fa-caret-right"></span>
        </button>
     
        <button class="tablinks" onclick="openTab(event, 'photoshop', 'arrow14')">
          <i class="far fa-image"></i>
          Photoshop <span id="arrow14" class=" arrow fas fa-caret-right"></span>
        </button>
  
        <button class="tablinks" onclick="openTab(event, 'caratulas', 'arrow15')">
          <i class="far fa-image"></i>
          Caratulas <span id="arrow15" class=" arrow fas fa-caret-right"></span>
        </button>

        <button class="tablinks" onclick="openTab(event, 'portafolios', 'arrow16')">
            <i class="far fa-image"></i>
            portafolios <span id="arrow16" class=" arrow fas fa-caret-right"></span>
          </button>
      </div>
       
      <div id="coding" class="tabcontent" style="display: block;">
        <h3>Coding</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?
         
        </p>
      </div>
       
      <div id="wordPress" class="tabcontent">
        <h3>WordPress</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
      </div>
       
      <div id="videos" class="tabcontent">
        <h3>Videos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
      <div id="photoshop" class="tabcontent">
        <h3>Photoshop</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>
  
      <div id="caratulas" class="tabcontent">
          <h3>Caratulas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>

      <div id="portafolios" class="tabcontent">
        <h3>portafolios</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
      </div>



    </div>


  </div>


{% endblock %}