{% extends "base.html" %}
{% block header %}
    <h2> {% block title %}
    Iniciar Sesión 
    {% endblock %} </h2>
{% endblock %}

{% block content %}
        <div class="login">
            <form action="" method="post">
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username" requerid>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" requerid>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
{% endblock %}